{% extends "base.html" %}

{% block main %}
<h1>Profile</h1>

<div class="profileCard">
    <img src="{{url_for('static', filename='images/avatar.png')}}" alt="Briony Frater's avatar" width="250"/>

    <h2>Briony Frater</h2>
    <p>@brifrater</p>
    <p>Kingston, Jamaica</p>
    <p>Joined</p>

    <div class="bioCard">
        <p>Hi, i'm Briony and I'm an Illustrator and 3D Artist. Contact me if you'd like to work on a new project sometime. </p>

        <div class="metrics">
            <div>
                <h5>27</h5>
                <p>Posts</p>
            </div>

            <div>
                <h5>1,493</h5>
                <p>Following</p>
            </div>

            <div>
                <h5>3,590</h5>
                <p>Followers</p>
            </div>

            <button>Follow</button>
        </div>
    </div>

</div>
{% endblock %}